<div class="banner">
    @if(!(loading$|async) && !(error$|async)) {
        <div class="backdrop-img">
            <img [src]="background$|async" alt="backdrop" loading="lazy" />
        </div>
    }
    <div class="opacity-layer"></div>
    <div class="content-wrapper">
        <div class="banner-content">
            <span class="title">Welcome.</span>
            <span class="sub-title">Millions of movies, TV shows and people to discover.</span>
            <div class="search-input">
                <input type="text" placeholder="Search for a movie or tv show...">
                <button>Search</button>
            </div>
        </div>
    </div>
</div>